#text-box {
	width: 668px;
	height: 168px;
	margin: 20px 0;
	color: #808080;
	border: 3px solid #ff8000;
}


#show-texts {
	height: 165px;
	overflow: scroll;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	background-color: #F5F5F5;
}

#start {
	margin-right: 20px;
}

#reset {
	margin-left: 20px;
}

.current-letter {
	color: #FFFFFF;
	background-color: #000000;
}
